<div [formGroup]="detailsForm">
  <div class="d-flex flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telephone</mat-label>
      <span matPrefix>+94 &nbsp;</span>
      <input
        type="tel"
        matInput
        placeholder="555555555"
        formControlName="phone"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>passengers</mat-label>
      <input matInput formControlName="passengers" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Seats</mat-label>
      <input matInput formControlName="seats" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Weight</mat-label>
      <input matInput formControlName="weight" />
    </mat-form-field>
    <section class="mb-3">
      <mat-checkbox formControlName="driver">Collison Coverage</mat-checkbox>
      <mat-checkbox formControlName="ac">Body Coverage</mat-checkbox>
    </section>
    <div class="d-flex flex-column">
      <div>
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </div>
  </div>
</div>
