.phone-icon {
  height: 29px;
  margin-right: 0.75rem;
}

.location {
  color: #03dac5;
  margin: 0 5px;
}
p {
  margin: 0;
}

.fw-bold {
  font-weight: 550 !important;
}

.underline {
  height: 1px;
  background-color: #625858;
}
