<div class="ad-title">
  <p class="h4 fw-bold">{{ adDetails.title }}</p>
  <p class="d-flex fw-bold">
    For rent by
    <span class="location">{{ adDetails.district | titlecase }}</span
    ><app-ad-date-time [date]="adDetails.createdAt"></app-ad-date-time>
  </p>

  <p class="mb-4 mt-3" [innerHTML]="multilineText"></p>

  <app-ad-price
    [rate]="adDetails.rate"
    [duration]="adDetails.rateDuration"
  ></app-ad-price>
  <div class="row">
    <div class="col-5">
      <p class="h4">Contact</p>
      <div class="underline"></div>
      <div class="d-flex mt-3 align-items-center">
        <img class="phone-icon" src="assets/icons/phone.png" alt="phone icon" />
        <p class="h6">0{{ adDetails.phone }}</p>
      </div>
    </div>
    <div class="col-6 d-flex align-items-center">
      <app-book-now></app-book-now>
    </div>
  </div>
</div>
