<div class="container set-margin">
  <div class="d-flex justify-content-center mb-5">
    <p class="h2">Welcome {{ name | titlecase }}! Let's post an ad.</p>
  </div>
  <mat-horizontal-stepper (selectionChange)="onStepChange($event)">
    <mat-step [stepControl]="vehicleFormGroup">
      <ng-template matStepLabel>Vehicle</ng-template>
      <form [formGroup]="vehicleFormGroup">
        <app-vehicle></app-vehicle>
      </form>
    </mat-step>
    <mat-step [stepControl]="insuranceFormGroup">
      <ng-template matStepLabel>Insurance</ng-template>
      <form [formGroup]="insuranceFormGroup">
        <app-insurance></app-insurance>
      </form>
    </mat-step>
    <mat-step [stepControl]="vehicleDetailsFormGroup">
      <ng-template matStepLabel>Details</ng-template>
      <form [formGroup]="vehicleDetailsFormGroup">
        <app-vehicle-details
          [VehicleFormGroup]="vehicleFormGroup"
        ></app-vehicle-details>
      </form>
    </mat-step>
    <mat-step [stepControl]="imagesFormGroup">
      <ng-template matStepLabel>Images</ng-template>
      <form [formGroup]="imagesFormGroup">
        <app-images></app-images>
      </form>
      <div class="d-flex justify-content-between set-margin">
        <button mat-button matStepperPrevious>Previous</button>
        <button mat-raised-button color="primary" (click)="PostAd()">
          Post Ad
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
